.appHeader{
    min-height: 420px;
    background: no-repeat center center;
    background-color: #868e96;
    position: relative;
    background-size: cover;
    background-image: url('./rest_cover_2.jpg');
    transition: filter 0.5s;
    filter: grayscale(0.2);
}
.appHeader:hover {
    filter: grayscale(0.0);
}
.mainTitle{
    font-weight: 700;
    color: white;
    text-shadow: 3px 3px 11px #3d3d3dad;
    font-size: 110px;
}
.lineTag{
    color: white;
    font-weight: 900;
    text-shadow: 3px 3px 11px #7d7d7dad;
    font-size: 16px;
}
.inputTagLine{
    color: white;
    font-weight: 900;
    text-shadow: 3px 3px 11px #7d7d7dad;
    font-size: 30px;
    margin-bottom: 1rem;
    display: block;
}
.inputElement{
    padding: 0.65rem 1rem;
    min-width: 400px;
    border-radius: 1.5rem;
    border: 1px solid #dad3d3;
    box-shadow: 3px 3px 11px #3d3d3dad;
    color: #777474;
    font-weight: bold;
}
.inputElement:focus {
outline: none;
}
button.addRestaurant{
    font-size: 24px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    background-color: white;
    box-shadow: 1px 5px 9px 2px #787878ab;
}
button.addRestaurant:focus {
    outline: none;
}